.mainWrapper {
    background-color: #474747;

    .content {
        width: 100%;
        // max-width: 1600px;
        // display: inline-flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        padding: 120px 152px;

        .top {
            display: inline-flex;
            align-items: flex-start;
            gap: 135px;

            .column1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                // justify-content: center;
                gap: 30px;

                .logo {
                    width: 293px;
                    display: flex;
                    // padding: 4px 0px 4.667px 4 1.333px;
                    // justify-content: flex-end;
                    align-items: center;
                    gap: 30px;

                    h1 {
                        color: #FFF;
                        font: 600 33px Playfair Display;
                        font-style: italic;
                        line-height: 29.333px;
                        letter-spacing: -0.4px;
                    }
                }

                p {
                    color: var(--Neutral-04, #ADB29E);
                    font: 400 16px DM Sans;
                    line-height: 24px;
                }
            }

            .column2 {}

            .column3 {}

            .column4 {}
        }

        .bottom {}
    }
}