.mainWrapper {
    background-color: #474747;

    .content {
        width: 100%;
        max-width: 1296px;
        padding: 120px 152px;

        .top {
            display: inline-flex;
            align-items: flex-start;
            gap: 135px;

            .column1 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
                width: 293px;

                .logo {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    .component {
                        padding: 4px 0px 4.667px 30px;

                        h1 {
                            color: #FFF;
                            font: 600 33px Playfair Display;
                            font-style: italic;
                            line-height: 29.333px;
                            letter-spacing: -0.4px;
                        }
                    }
                }

                p {
                    color: var(--Neutral-04, #ADB29E);
                    font: 400 16px DM Sans;
                    line-height: 24px;
                }
            }

            .column2 {
                display: flex;
                align-items: flex-start;
                gap: 120px;
                width: 330px;

                .col2,
                .col3 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 40px;

                    h3 {
                        color: var(--Neutral-01, #FFF);
                        font: 700 16px DM Sans;
                        line-height: 24px;
                    }

                    .list {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 20px;

                        p {
                            color: var(--Neutral-03, #DBDFD0);
                            font: 400 16px DM Sans;
                            line-height: 24px;
                        }
                    }
                }

                .column3 {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 40px;

                    h3 {
                        color: var(--Neutral-01, #FFF);
                        font: 700 16px DM Sans;
                        line-height: 24px;
                    }

                    .img {
                        width: 403px;
                        height: 355px;
                        display: flex;
                        gap: 15px;
                    }
                }
            }
        }

        .bottom {}
    }
}