@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Playfair+Display:ital,wght@1,600&family=Poppins:wght@400;500;600;900&display=swap');

.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F9F7;
    height: 129px;

    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.wrapper .header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 290px;
    height: 55px;
}

.wrapper .header .logo {
    display: inline-flex;
    gap: 30px;
}

.wrapper .header .logo h4 {
    color: #474747;
    font: 600 42.667px Playfair Display;
    font-style: italic;
}

.wrapper .header .menuMain {
    display: inline-flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.wrapper .header .menuMain .home {
    border-radius: 34px;
    background-color: #DBDFD0;
    padding: 4px 16px;
}

.wrapper .header .menuMain .home,
.about,
.menu {
    color: var(--neutral-07, #2C2F24);
    font: 500 16px DM Sans;
    line-height: 24px;
}

.wrapper .header .button {
    border-radius: 118px;
    border: 1.5px solid var(--neutral-07, #2C2F24);
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: var(--neutral-07, #182226);
    text-align: right;

    font: 700 16px DM Sans;
    line-height: 24px;
}